---
import { ThemeTogglejsx } from "../react/ui/ThemeToggle/ThemeToggle";
import { dataMyInfo } from "@/config/myInfo";
import OsedheluLogo from "./Icons/OsedheluLogo.astro";
import { useTranslations } from "@/i18n/utils";

const t = useTranslations({ url: Astro.url });
---

<header
  class="fixed w-full z-50 top-0 bg-pink-300/20 dark:bg-pink-300/9 backdrop-blur-md py-5"
>
  <div class="container mx-auto">
    <div class="flex justify-between items-center">
      <!-- logo -->
      <a href="/" data-astro-reload>
        <OsedheluLogo />
      </a>
      <div class="flex gap-4 items-center">
        <a
          class="btn btn-sm h-8 text-center items-center flex"
          data-astro-reload
          href={dataMyInfo.cv}
          target="_blank"
        >
          {t("nav.cv")}</a
        >
        <ThemeTogglejsx client:only />
      </div>
    </div>
  </div>
</header>
