---
import Banner from "@/components/Banner.astro";
import Contact from "@/components/Contact.astro";
import Header from "@/components/shared/Header.astro";
import Services from "@/pages/Services.astro";
import Work from "@/pages/Work.astro";
import About from "@/pages/about.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="">
    <Header />
    <Banner />

    <About />
    <Services />
    <Work />
    <Contact />
  </div>
</BaseLayout>
