---
import Layout from "../layouts/Layout.astro";
import SectionHome from "../components/SectionHome.astro";
import Section50Projects from "../components/dev-50-proyects/Section50Projects.astro";
---

<Layout title="Oscar Herrera">
  <main>
    <SectionHome />
    <Section50Projects />
  </main>
</Layout>
