---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Oscar Herrera Page">
	<main>
		<header
			class="flex fixed py-5 px-10 items-center top-0 w-full justify-between z-40 text-white"
		>
			<div class="flex flex-grow basis-0">Oscar Herrera</div>
			<nav>
				<ul
					class="flex [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-4"
				>
					<li><a href="#">model1</a></li>
					<li><a href="#">model2</a></li>
					<li><a href="#">model3</a></li>
					<li><a href="#">model4</a></li>
					<li><a href="#">model5</a></li>
				</ul>
			</nav>
			<nav class="flex flex-grow basis-0 justify-end">
				<ul
					class="flex [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-4"
				>
					<li><a href="/">Soporte</a></li>
					<li><a href="/">tienda</a></li>
					<li><a href="/">Cuenta</a></li>
					<li><a href="/">Menu</a></li>
				</ul>
			</nav>
		</header>
		<section
			class="bg-black text-white h-screen w-screen text-center overflow-hidden"
		>
			<div class="z-30 relative flex h-full flex-col">
				<header>
					<h2 class="text-[40px] mt-40 font-medium">
						Soy Oscar Herrera Lugo
					</h2>
					<p class="text-sm">
						Como desarrollador Full Stack, tengo una amplia gama de
						habilidades técnicas y blandas que me permiten trabajar
						en todas las etapas del desarrollo de software.
					</p>
				</header>
				<footer class="flex flex-col flex-grow justify-end pb-24">
					<div>
						<a
							class="border-[3px] border-white bg-white/5 backdrop-blur-xl rounded font-medium text-white px-6 py-2 inline-block hover:bg-white hover:text-black transition-colors"
							href="#">Canales de contacto</a
						>
					</div>
				</footer>
			</div>
			<div class="absolute top-0 bottom-0 h-full z-10">
				<video
					class="object-cover object-center h-full"
					autoplay
					muted
					loop
					src="/video.mp4"></video>
			</div>
		</section>
	</main>
</Layout>
