---
import Layout from "../layouts/Layout.astro";
import SectionHome from "../components/SectionHome.astro";
import SidebarHome from "../components/shared/SidebarHome.astro";
---

<Layout title="Oscar Herrera Page">
	<main>
		<SidebarHome />
		<SectionHome />
		<div
			class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-1"
		>
		hola
		</div>
	</main>
</Layout>
