---
import ReactIcon from "../icons/ReactIcon.astro";
import PythonIcon from "../icons/PythonIcon.astro";
import DjangoIcon from "../icons/DjangoIcon.astro";
import KotlinIcon from "../icons/KotlinIcon.astro";
import AstroIcon from "../icons/AstroIcon.astro";
import NextjsIcon from "../icons/NextjsIcon.astro";
import JetpackComposeIcon from "../icons/JetpackComposeIcon.astro";
import Container from "../shared/Container.astro";
const data = [
    {
        title: "React",
        description: "Desarrollo FrontEnd",
        icon: ReactIcon,
    },
    {
        title: "Python",
        description: "Desarrollo FrontEnd",
        icon: PythonIcon,
    },
    {
        title: "Django",
        description: "Desarrollo FrontEnd",
        icon: DjangoIcon,
    },
    {
        title: "Kotlin",
        description: "Desarrollo FrontEnd",
        icon: KotlinIcon,
    },
    {
        title: "Astrojs",
        description: "Desarrollo FrontEnd",
        icon: AstroIcon,
    },
    {
        title: "Nextjs",
        description: "Desarrollo FrontEnd",
        icon: NextjsIcon,
    },
    {
        title: "Jetpack Compose",
        description: "Desarrollo Android",
        icon: JetpackComposeIcon,
    },
    {
        title: "React",
        description: "Desarrollo FrontEnd",
        icon: ReactIcon,
    },
    {
        title: "React",
        description: "Desarrollo FrontEnd",
        icon: ReactIcon,
    },
];
---


<Container>
        <div
            class="grid grid-cols-1 gap-y-8 lg:grid-cols-2 lg:items-center lg:gap-x-16"
        >
            <div
                class="mx-auto max-w-lg text-center lg:mx-0 ltr:lg:text-left rtl:lg:text-right"
            >
                <h2 class="text-3xl font-bold sm:text-4xl text-primary-100">
                    Mis Habilidades
                </h2>

                <p class="mt-4 text-primary-200">
                    Con una amplia experiencia en el desarrollo de software, he
                    trabajado en más de cuatro empresas, demostrando mi
                    capacidad para adaptarme a diferentes entornos y desafíos.
                    Mi experiencia abarca una variedad de tecnologías y
                    lenguajes de programación, incluyendo Node.js, Nest.js,
                    Django, TypeScript, JavaScript, Express, y Kotlin.
                </p>

                <a
                    href="#"
                    class="mt-8 inline-block rounded bg-primary-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-yellow-400"
                >
                    Get Started Today
                </a>
            </div>

            <div class="grid grid-cols-2 gap-4 sm:grid-cols-3">
                {
                    data.map((item) => (
                        <a
                            class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
                            href="/accountant"
                        >
                            <span class="inline-block rounded-lg backdrop-blur-sm hover:backdrop-blur-lg bg-white/80  p-3">
                                {<item.icon sizeIcon="w-6 h-6" />}
                            </span>
                            <h2 class="mt-2 font-bold text-primary-300">
                                {item.title}
                            </h2>
                            <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-primary-50">
                                {item.description}
                            </p>
                        </a>
                    ))
                }
            </div>
        </div>
 
</Container>
   
