<section
    class="bg-white text-white h-screen w-screen text-center overflow-hidden"
>
    <div class="z-30 relative flex h-full flex-col">
        <header>
            <h2 class="lg:text-6xl mt-40 font-medium text-shadow">
                Soy Oscar Herrera Lugo
            </h2>
            <div class="lg:mx-[30rem]">
                <p class="lg:text-2xl mt-20 text-shadow">
                    Como desarrollador Full Stack, tengo una amplia gama de
                    habilidades técnicas y blandas que me permiten trabajar en
                    todas las etapas del desarrollo de software.
                </p>
            </div>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-24">
            <div>
                <a
                    class="border-[3px] border-white bg-white/5 backdrop-blur-xl rounded font-medium text-white px-6 py-2 inline-block hover:bg-white hover:text-black transition-colors"
                    href="#">Canales de contacto</a
                >
            </div>
        </footer>
    </div>
    <div class="absolute top-0 bottom-0 h-full z-10">
        <video
            class="object-cover object-center h-full"
            autoplay
            muted
            loop
            playsinline
            src="/videoc-compress.webm"></video>
        <!-- <video
            class="object-cover object-center h-full"
            autoplay
            muted
            loop
            src="/videoc-compress.webm"></video> -->
    </div>
</section>
