---
import LinkedinIcon from "../components/icons/LinkedinIcon.astro";
import FacebookIcon from "../components/icons/FacebookIcon.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import WhatsappIcon from "../components/icons/WhatsappIcon.astro";

const DataLinks = [
  { icon: LinkedinIcon, path: "https://linkedin.com/in/osedhelu/" },
  { icon: FacebookIcon, path: "https://www.facebook.com/osedhelu" },
  { icon: GitHubIcon, path: "https://github.com/osedhelu" },
  {
    icon: WhatsappIcon,
    path: "https://api.whatsapp.com/send?phone=573017982676",
  },
];
---

<section
  class="bg-white text-white h-screen w-screen text-center overflow-hidden"
>
  <div class="z-30 relative flex h-full flex-col">
    <header>
      <h2 class="lg:text-6xl text-3xl mt-40 font-medium text-shadow">
        Soy Oscar Herrera Lugo
      </h2>
      <div class="xl:mx-[30rem] lg:mx-[10rem] mx-[3rem]">
        <p class="lg:text-2xl text-xl mt-20 text-shadow">
          Como desarrollador Full Stack, tengo una amplia gama de habilidades
          técnicas y blandas que me permiten trabajar en todas las etapas del
          desarrollo de software.
        </p>
      </div>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-24">
      <div class="flex justify-center gap-4">
        {
          DataLinks.map((item) => (
            <a
              href={item.path}
              target="_blank"
              class="rounded-full border border-gray-200 p-2 text-gray-900"
            >
              <span class="sr-only">Company Facebook</span>
              {<item.icon sizeIcon="w-6 h-6" />}
            </a>
          ))
        }
      </div>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 h-full z-10">
    <video
      class="object-cover object-center h-full"
      autoplay
      muted
      loop
      playsinline
      src="/videoc-compress.mp4"></video>
  </div>
</section>
