---
import { WorkContainer } from "@/react/ui/word/WorkContainer";
import Icon from "./shared/Icons/Icon.astro";
import { CardWord } from "./react/ui/word/CardWord";
import {
    skills_backend,
    skills_frontend,
    skills_languages,
} from "./react/ui/About/logos";
import { useTranslations } from "@/i18n/utils";
const t = useTranslations({ url: Astro.url });
---

<section class="section" id="work">
    <div class="container mx-auto">
        <div class="w-full grid justify-items-center">
            <h2 class="text-[20px] lg:h2 text-accent mb-6">
                {t("works.title")}
            </h2>
            <h3 class="text-[9px] lg:h3 max-w-[455px] mb-16">
                {t("works.description")}
            </h3>
        </div>

        <WorkContainer>
            <CardWord
                client:only="react"
                title="App de Sincronizacion de Datos"
                href="#"
                img="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-01.jpg"
                titleState=""
            >
                <skills_backend.django className="w-10 h-10" />
                <skills_backend.djangorestframework className="w-10 h-10" />
                <skills_frontend.react className="w-10 h-10" />
            </CardWord>
            <CardWord
                title="Pagomovil Banco Exterior"
                client:only="react"
                href="#"
                img="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-01.jpg"
                titleState=""
            >
                <skills_languages.kotlin className="w-10 h-10" />
                <skills_backend.djangorestframework className="w-10 h-10" />
                <skills_frontend.jetpack className="w-10 h-10" />
            </CardWord>
            <CardWord
                title="Pagomovil Banco de Venezuela"
                client:only="react"
                href="#"
                img="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-01.jpg"
                titleState=""
            >
                <skills_languages.kotlin className="w-10 h-10" />
                <skills_backend.djangorestframework className="w-10 h-10" />
                <skills_frontend.jetpack className="w-10 h-10" />
            </CardWord>
            <CardWord
                title="Pagomovil Banco Fondo Comun"
                client:only="react"
                href="#"
                img="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-01.jpg"
                titleState=""
            >
                <skills_languages.kotlin className="w-10 h-10" />
                <skills_backend.djangorestframework className="w-10 h-10" />
                <skills_frontend.jetpack className="w-10 h-10" />
            </CardWord>
        </WorkContainer>
    </div>
</section>
