---
import { useTranslations } from "@/i18n/utils";
import { WorkContainer } from "@/react/ui/word/WorkContainer";
import {
    skills_backend,
    skills_frontend,
    skills_languages,
} from "./react/ui/About/logos";
import { CardWord } from "./react/ui/word/CardWord";
const t = useTranslations({ url: Astro.url });
---

<section class="section" id="work">
    <div class="container mx-auto">
        <div class="w-full grid justify-items-center">
            <h2 class="text-[20px] lg:h2 text-accent mb-6">
                {t("works.title")}
            </h2>
            <h3 class="text-[9px] lg:h3 max-w-[455px] mb-16">
                {t("works.description")}
            </h3>
        </div>

        <WorkContainer>
            <CardWord
                client:only="react"
                title="Api Pagomovil Sincronizar Datos"
                href="#"
                img="/img_app2.jpeg"
                titleState=""
            >
                <skills_backend.django className="w-10 h-10" />
                <skills_backend.djangorestframework
                    className="w-10 h-10 bg-white rounded-full"
                />
                <skills_backend.swagger className="w-10 h-10" />
                <skills_backend.socketio
                    className="w-10 h-10 fill-black dark:fill-white"
                />
            </CardWord>
            <CardWord
                title="Pagomovil Banco de Venezuela"
                client:only="react"
                href="#"
                img="/img_app1.jpeg"
                titleState=""
            >
                <skills_languages.kotlin className="w-10 h-10" />
                <skills_backend.djangorestframework className="w-10 h-10" />
                <skills_frontend.jetpack className="w-10 h-10" />
            </CardWord>
            <CardWord
                title="Pagomovil Banco de Venezuela"
                client:only="react"
                href="#"
                img="/app03.jpeg"
                titleState=""
            >
                <skills_languages.kotlin className="w-10 h-10" />
                <skills_backend.djangorestframework className="w-10 h-10" />
                <skills_frontend.jetpack className="w-10 h-10" />
            </CardWord>
            <CardWord
                title="Pagomovil banplus"
                client:only="react"
                href="#"
                img="/img_app4.jpeg"
                titleState=""
            >
                <skills_languages.kotlin className="w-10 h-10" />
                <skills_backend.djangorestframework className="w-10 h-10" />
                <skills_frontend.jetpack className="w-10 h-10" />
            </CardWord>
        </WorkContainer>
    </div>
</section>
