---
import { Navjsx } from "@/components/react/shared/Nav/Nav";
import MainHead from "@/components/shared/Metadata/MainHead.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body
    class="bg-sitelight dark:bg-site bg-no-repeat bg-cover text-black dark:text-white"
  >
    <div class="h-[90px] md:h-[0px]"></div>
    <Navjsx client:only />
    <slot />
    <div class="h-[4000px]">hola</div>
  </body>
</html>
