---
import { Navjsx } from "@/components/react/shared/Nav/Nav";
import MainHead from "@/components/shared/Metadata/MainHead.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
const lang = getLangFromUrl(Astro.url);

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const t = useTranslations({ url: Astro.url });
const { title = t("meta.title"), description = t("meta.description") } =
  Astro.props;
---

<html lang={lang}>
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body class="dark:bg-black bg-white bg-no-repeat text-black dark:text-white">
    <slot />
  </body>
</html>
