---
import { Navjsx } from "@/components/react/shared/Nav/Nav";
import MainHead from "@/components/shared/Metadata/MainHead.astro";
import { getLangFromUrl } from "@/i18n/utils";
const lang = getLangFromUrl(Astro.url);

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang={lang}>
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body
    class="bg-sidelight dark:bg-site bg-no-repeat text-black dark:text-white"
  >
    <slot />
  </body>
</html>
